<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
    <script src="lib/jquery/js/jquery.min.js" type="text/javascript"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="lib/angular/js/angular.min.js" type="text/javascript"></script>
    <script src="lib/ui-bootstrap/js/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
    <script src="js/services.js" type="text/javascript"></script>
    <script src="js/common.js" type="text/javascript"></script>
    <script src="js/dashboard.js" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" href="lib/qtip/css/jquery.qtip.min.css" />
    <script type="text/javascript" src="lib/qtip/js/jquery.qtip.min.js"></script>
    <script src="lib/jquery/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="lib/jquery/css/jquery-ui.css" />
    <link href="css/dashboard.css" rel="stylesheet" /> </head>

<body ng-app="dashboardApp" ng-controller="SummaryCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="card dash_header"> <span class="card-title center " ng-if="summary.selected_cluster=='undefined'">
                    <i class="fa fa-dashboard fa-lg"></i>
                            All Clusters <label class="badge header-badge"> {{summary.cluster_list.length}} </label>
                </span> <span class="card-title center " ng-if="summary.selected_cluster!='undefined'">
                    <i class="fa fa-dashboard fa-lg"></i>
                            {{summary.selected_cluster.name}}
                </span>
                <div class="dropdown pull-right">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"> <i class="fa fa-tasks fa-lg"></i> <span ng-if="summary.selected_cluster=='undefined'">All Clusters</span> <span ng-if="summary.selected_cluster!='undefined'">{{summary.selected_cluster.name}}</span> <span class="caret"></span> </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="switchCluster('undefined')">All Clusters</a> </li>
                        <li role="presentation" ng-repeat="cluster in summary.cluster_list"><a role="menuitem" tabindex="-1" ng-click="switchCluster(cluster)">{{cluster.name}}</a> </li>
                    </ul>
                </div>
                <label ng-if="summary.alerts.length>0" class="critical card-title bold pull-right">
                    <label class="gray"></label><i class="fa fa-lg fa-bell-o" style="color:#E35C5C;"><a class="badge superfix-badge" data-toggle="modal" data-target="#myModal">{{summary.alerts.length}}</a></i> &nbsp;&nbsp;&nbsp;&nbsp;
                </label>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                           <div class="modal-dialog modal-lg">
                               <div class="modal-content">
                                   <div class="modal-header">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                                       <h4 class="modal-title" id="myModalLabel"><i class="fa fa-2 fa-exclamation-circle critical"></i> Alerts</h4> </div>
                                   <div class="modal-body">
                                       <div class="alert-dialog" title="Alerts">
                                           <div ng-repeat="alert in summary.alerts">
                                               <div class="alert alert-danger alert-dismissible" role="alert">
                                                   <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="deleteAlert(alert)"><span aria-hidden="true">&times;</span> </button> <strong style="color:#000;">{{alert.time | date:'medium'}}</strong>
                                                   <br/>{{alert.description}} </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                <label ng-if="summary.health_status=='Unhealthy'" class="critical hasTooltip-bottom card-title bold pull-right">
                    <label ng-if="summary.selected_cluster.name=='All Clusters'" class="gray"></label><i class="fa fa-lg fa-heartbeat" style="color:#E35C5C;"><a ng-if="summary.selected_cluster=='undefined'" class="badge superfix-badge">{{summary.unhealthy_cluster_list.length}}</a></i> &nbsp;&nbsp;&nbsp;&nbsp; </label>
                <div class="hidden" title="Unhealthy Clusters" ng-if="summary.selected_cluster=='undefined'">
                    <div role="presentation" style="text-align:center;" ng-repeat="cluster in summary.unhealthy_cluster_list">{{cluster.name}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 custom-gutter">
                <div class="card vol_card"> <i ng-if="summary.max_vol_usage > 80" class="fa fa-exclamation-circle critical fa-lg card-status"></i> <i ng-if="summary.max_vol_usage < 81" class="fa fa-check-circle ok fa-lg card-status"></i> <span class="card-title"> <i class="fa fa-pie-chart fa-lg"></i>
                            <span class="capacity-title">Capacity</span> </span>
                    <a href="./../../#volumes" target="_top">
                        <div ng-if="summary.all_volumes.length == 0">
                            <div class="inner-title center-error"> No Volume found</div>
                        </div>
                        <div ng-if="summary.all_volumes.length > 0" class="cpu-hover card-body-flip front_volume hasTooltip-bottom" style="position:relative; width:100%;height: 120px;">
                            <div class="inner-title" style="float:left;width:33%;padding-bottom:20px;"> {{summary.total_space_units}}
                                <br/>Total </div>
                            <div class="inner-title" style="float:left;width:33%;"> {{summary.available_space_units}}
                                <br/>Free </div>
                            <div class="inner-title" style="float:left;width:33%;"> {{summary.used_space_units}}
                                <br/>Used </div>
                            <div class="progress" style="clear:both;margin:10px;">
                                <div class="progress-bar progress-bar-success" style="background-image:none;background-color:#4AD170;color:#000;width:{{summary.used_space/summary.total_space*100}}%"> {{(summary.used_space/summary.total_space*100) | number : 2}}% </div>
                            </div>
                        </div>
                        <div class="hidden" title="Top space utilizers" ng-if="summary.volume_usage_percent.length>0">
                            <div ng-repeat="usage in summary.volume_usage_percent" ng-if="$index < 3" class="gray tooltip-wrapper">
                                <div class="usage" ng-class="usage['usage'] >= 90 ? 'critical' : ( usage['usage'] >= 80 ? 'warning' : 'ok')">{{usage["usage"]}}% </div>
                                <div class="usage-entity"> {{usage["name"]}}</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 custom-gutter">
                <div class="card cpu_mem"> <i ng-if="summary.max_cpu > 80 || summary.max_memory > 80" class="fa fa-exclamation-circle critical fa-lg card-status"></i> <i ng-if="summary.max_cpu < 81 && summary.max_memory < 81" class="fa fa-check-circle ok fa-lg card-status"></i> <span class="card-title"> <i class="fa fa-line-chart fa-lg"></i>
                            <span class="performance-title">Utilization</span> </span>
                    <a href="./../../#hosts" target="_top">
                        <div ng-if="summary.cpu_usage_list.length == 0">
                            <div class="inner-title center-error"> No UP host found</div>
                        </div>
                        <div ng-if="summary.cpu_usage_list.length > 0" class="front">
                            <div ng-if="summary.cpu_usage_list.length > 0" class="card-body clear inner-title cpu hasTooltip-bottom">
                                <div class="dash-bold"> <i class="fa fa-th-large"></i> {{summary.average_cpu_usage}} % </div> CPU </div>
                            <div class="hidden" title="Top CPU utilizers">
                                <div ng-repeat="usage in summary.cpu_usage_list" ng-if="$index < 4">
                                    <div class="gray tooltip-wrapper">
                                        <div class="usage" ng-class="usage['usage'] >= 90 ? 'critical' : ( usage['usage'] >= 80 ? 'warning' : 'ok')">{{usage["usage"]}}% </div>
                                        <div class="usage-entity"> {{usage["name"]}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body inner-title mem hasTooltip-bottom">
                                <div class="dash-bold"> <i class="fa fa-bars "></i> {{summary.average_memory_usage}} % </div> Memory </div>
                            <div class="hidden" title="Top Memory utilizers">
                                <div ng-repeat="usage in summary.memory_usage_list" ng-if="$index < 4">
                                    <div class="gray tooltip-wrapper">
                                        <div class="usage" ng-class="usage['usage'] >= 90 ? 'critical' : ( usage['usage'] >= 80 ? 'warning' : 'ok')">{{usage["usage"]}}% </div>
                                        <div class="usage-entity"> {{usage["name"]}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 custom-gutter">
                <div class="card cpu_mem"> <span class="card-title"> <i class="fa fa-exchange fa-rotate-90 fa-lg"></i>Network</span>
                    <a href="./../../#hosts" target="_top">
                        <div ng-if="summary.nic_up+summary.nic_down_list.length == 0">
                            <div class="inner-title center-error"> No NIC found</div>
                        </div>
                        <div class="front" ng-if="summary.nic_up+summary.nic_down_list.length > 0">
                            <div class="card-body clear inner-title cpu hasTooltip">
                                <div class="dash-bold"> <i class="fa fa-cloud-upload"></i> {{summary.average_data_transmitted}}</div> TX </div>
                            <div class="hidden" title="Top data transmitters">
                                <div ng-repeat="usage in summary.data_received_list" ng-if="$index < 3">
                                    <div class="gray tooltip-wrapper">
                                        <div class="usage" style="width:auto !important;">{{usage["usage"]}} </div>
                                        <div class="usage-entity" style="width:auto !important;"> {{usage["ip"]}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body inner-title mem hasTooltip">
                                <div class="dash-bold"> <i class="fa fa-cloud-download "></i> {{summary.average_data_received}}</div> RX </div>
                            <div class="hidden" title="Top data Receivers">
                                <div ng-repeat="usage in summary.data_transmitted_list" ng-if="$index < 3">
                                    <div class="gray tooltip-wrapper">
                                        <div class="usage" style="width:auto !important;">{{usage["usage"]}} </div>
                                        <div class="usage-entity" style="width:auto !important;"> {{usage["ip"]}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-class="summary.show_vm_status ? 'col-lg-3 col-md-3' : 'col-lg-4 col-md-4'" class="col-sm-6 col-xs-6 custom-gutter">
                <div class="card">
                  <i ng-if="summary.hosts_maintenance_list.length>0" class="fa fa-exclamation-circle warning fa-lg card-status"></i>
                  <i ng-if="summary.hosts_down_list.length>0" class="fa fa-exclamation-circle critical fa-lg card-status"></i>
                  <i ng-if="summary.hosts_down_list.length==0 && summary.hosts_maintenance_list.length==0" class="fa fa-check-circle ok fa-lg card-status"></i>
                  <span class="card-title"> <i class="fa fa-desktop fa-lg"></i>Hosts</span>
                    <div class="content">
                        <a href="./../../#hosts" target="_top">
                          <div class"usage-entity" >
                            <div class="headline">{{summary.hosts_up}}&nbsp/&nbsp{{summary.hosts_up+summary.hosts_down_list.length+summary.hosts_maintenance_list.length}}
                            <span class="upcount">UP</span></div>
                            <div ng-if="summary.hosts_down_list.length>0">
                                <div class="subline hasTooltip"> {{summary.hosts_down_list.length}}-Down</div>
                                <div class="hidden" title="Hosts Down">
                                    <div role="presentation" ng-repeat="host in summary.hosts_down_list">
                                        <div class="gray tooltip-wrapper" style="width:auto !important;">
                                            <div class="usage" style="width:auto !important;">{{host}} </div>
                                        </div>
                                    </div>
                               </div>
                            </div>
                            <div ng-if="summary.hosts_maintenance_list.length>0">
                                <div class="subline hasTooltip"> {{summary.hosts_maintenance_list.length}}-Maintenance</div>
                                <div class="hidden" title="Hosts in Maintenance">
                                    <div role="presentation" ng-repeat="host in summary.hosts_maintenance_list">
                                        <div class="gray tooltip-wrapper" style="width:auto !important;">
                                            <div class="usage" style="width:auto !important;">{{host}} </div>
                                        </div>
                                    </div>
                               </div>
                            </div>
                          </div>
                        </a>
                    </div>
                </div>
            </div>
            <div ng-class="summary.show_vm_status ? 'col-lg-3 col-md-3' : 'col-lg-4 col-md-4'" class="col-sm-6 col-xs-6 custom-gutter">
                <div class="card"> <i ng-if="(summary.volumes_degraded + summary.volumes_down + summary.volumes_partial)==0" class="fa fa-check-circle ok fa-lg card-status"></i> <i ng-if="summary.volumes_degraded>0 && summary.volumes_down==0" class="fa fa-exclamation-circle warning fa-lg card-status"></i> <i ng-if="summary.volumes_down>0 || summary.volumes_partial>0" class="fa fa-exclamation-circle critical fa-lg card-status"></i> <span class="card-title"> <i class="fa fa-database fa-lg"></i>
                            Volumes
                        </span>
                    <div class="content">
                        <a href="./../../#volumes" target="_top">
                            <div class="headline">{{summary.volumes_up}}&nbsp/&nbsp{{summary.volumes_up+summary.volumes_stopped}}
                            <span class="upcount">UP</span></div>
                            <div class="subline hasTooltip"> <span ng-if="summary.volumes_degraded>0"> {{summary.volumes_degraded}}-Degraded </span> <span ng-if="summary.volumes_partial>0"> {{summary.volumes_partial}}-Partial </span> <span ng-if="summary.volumes_down>0"> {{summary.volumes_down}}-Down </span> <span ng-if="summary.volumes_stopped>0"> {{summary.volumes_stopped}}-Stopped </span> </div>
                            <div class="hidden" title="Critical Volumes">
                                <div role="presentation" ng-repeat="volume in summary.unhealthy_volumes">
                                    <div class="gray tooltip-wrapper" style="width:auto !important;">
                                        <div class="usage" style="width:auto !important;" ng-class="volume['status'] === 'Degraded' ? 'warning' : 'critical'">{{volume["name"]}} </div>
                                        <div class="usage-entity" style="width:auto !important;"> {{volume["status"]}} </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div> {{tooltip()}}</div>
            </div>
            <div  ng-show="summary.show_vm_status" ng-class="summary.show_vm_status ? 'col-lg-3 col-md-3' : 'col-lg-4 col-md-4'" class="col-sm-6 col-xs-6 custom-gutter">
              <div class="card"><i ng-if="(summary.vms_in_error_list.length==0 && summary.vms_paused_list.length==0)" class="fa fa-check-circle ok fa-lg card-status"></i><i ng-if="summary.vms_in_error_list.length>0 || summary.vms_paused_list.length>0" class="fa fa-exclamation-circle critical fa-lg card-status"></i> <span class="card-title"> <i class="fa fa-toggle-right fa-lg"></i>
                          Virtual Machines
                      </span>
                  <div class="content">
                      <a href="./../../#vms" target="_top">
                          <div class="headline">{{summary.vms_up_list.length}}&nbsp/&nbsp{{summary.vms_up_list.length+summary.vms_down_list.length +summary.vms_paused_list.length + summary.vms_in_error_list.length}}
                          <span class="upcount">UP</span></div>
                          <div class="subline hasTooltip"> <span ng-if="summary.vms_down_list.length"> {{summary.vms_down_list.length}}-Down </span> <span ng-if="summary.vms_paused_list.length>0"> {{summary.vms_paused_list.length}}-Paused </span> <span ng-if="summary.vms_in_error_list.length>0"> {{summary.vms_in_error_list.length}}-Error </span>  </div>
                          <div class="hidden" title="Critical VMs">
                              <div role="presentation" ng-repeat="vm in summary.vms_down_list">
                                  <div class="gray tooltip-wrapper" style="width:auto !important;">
                                      <div class="usage" style="width:auto !important;" ng-class="'critical'">{{vm["name"]}} </div>
                                      <div class="usage-entity" style="width:auto !important;"> {{vm.status.state}} </div>
                                  </div>
                              </div>
                              <div role="presentation" ng-repeat="vm in summary.vms_paused_list">
                                  <div class="gray tooltip-wrapper" style="width:auto !important;">
                                      <div class="usage" style="width:auto !important;" ng-class="'critical'">{{vm["name"]}} </div>
                                      <div class="usage-entity" style="width:auto !important;"> {{vm.status.state}} </div>
                                  </div>
                              </div>
                              <div role="presentation" ng-repeat="vm in summary.vms_in_error_list">
                                  <div class="gray tooltip-wrapper" style="width:auto !important;">
                                      <div class="usage" style="width:auto !important;" ng-class="'critical'">{{vm["name"]}} </div>
                                      <div class="usage-entity" style="width:auto !important;"> {{vm.status.state}} </div>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div> {{tooltip()}}</div>
            </div>
            <div ng-class="summary.show_vm_status ? 'col-lg-3 col-md-3' : 'col-lg-4 col-md-4'" class="col-sm-6 col-xs-6 custom-gutter">
                <div class="card"> <i ng-if="summary.nic_down_list.length>0" class="fa fa-exclamation-circle critical fa-lg card-status"></i> <i ng-if="summary.nic_down_list.length==0" class="fa fa-check-circle ok fa-lg card-status"></i> <span class="card-title"> <i class="fa fa-server fa-lg"></i>
                        NIC
                    </span>
                    <div class="content">
                        <a href="./../../#hosts" target="_top">
                          <div class="headline">{{summary.nic_up}}&nbsp/&nbsp{{summary.nic_up+summary.nic_down_list.length}}
                          <span class="upcount">UP</span></div>
                            <div class="subline NicTooltip" ng-if="summary.nic_down_list.length>0">{{summary.nic_down_list.length}} Down </div>
                            <div class="hidden" title="NICs Down">
                                <div class="nic-tooltip">
                                <div role="presentation" ng-repeat="nic in summary.nic_down_list">
                                    <div class="gray tooltip-wrapper" style="height:scroll !important; max-height:150px;">
                                        <div class="usage" style="width:auto !important;">{{nic.host_name}} </div>
                                        <div class="usage-entity" style="width:auto !important;"> {{nic.nic_name}} </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
